div.contacts.light
  ul.on-light.content
    li
      b adam.johannesmeyer@gmail.com
    li Full Stack Developer
    li.github-link
      a.on-light-link(href="https://github.com/adamjo", target="_blank", rel="noopener") Github